@{
    ViewData["Title"] = "Health Page";
}
<script type="text/javascript" src="~/js/health.js"></script>
<div class="text-center">
    <h1 class="display-4">This is the Health Page</h1>
    <p>Think it worked?</p>
    <p id="responseMessage" name="responseMessage" style="color:blue"></p>
</div>